<title>Angular Template</title>

<nav *ngIf="showNav" class="navbar navbar-expand-lg navbar-dark" style="background: #1a237e;margin-bottom: 20px">
    <a class="navbar-brand" href="#"><img style="height:50px;width: 150px" src="./assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="./register">Register<span class="sr-only">Register</span></a>
            </li>


        </ul>
        <div style="margin-top: -20px" class="nav-item">
                <span (click)="logout()" class="btn btn-outline-light pull-right"><i class="fa fa-sign-out"
                                                                                     aria-hidden="true"></i> Keluar
                </span>
        </div>
    </div>
</nav>


<!--- ini untuk menandakan kalau app component adalah parent untuk semua view  -->
<router-outlet (activate)="onActiveUser()"></router-outlet>

