<!-- INI HALAMAN INDEX REGISTER -->
<div class="card" style="margin-bottom: 10px">
    <div class="card-body">
        <div class="pull-left">
            <i class="fa fa-user-circle"></i> Master User
        </div>
    </div>
</div>
<div class="container-fluid">
    <table class="table">
        <thead class="thead" style="background: #f50057; color: #ffffff">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <!--- START LOOPING USER DATA -->
        <tr *ngFor="let list_user of list_user_rows; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{list_user.username}}</td>
            <td>{{list_user.name}}</td>
            <td>{{list_user.email}}</td>
            <td>
                <button (click)="deleteUser(list_user.id)"  type="button"
                        style="margin-top: -5px; margin-right: 10px" class="btn btn-xs btn-danger">Delete
                </button>
                <button [routerLink]="['/register/register-update',list_user.id]" type="button" style="margin-top: -5px" class="btn btn-xs btn-info">Update</button>
            </td>
        </tr>
        </tbody>
        <!--- END LOOPING USER DATA -->
    </table>
    <div class="row">
        <div class="col-md-3">
            <span [routerLink]="['/register/register-create']" class="btn btn-success">Add User</span>
        </div>

    </div>
</div>


